spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/whatsapp_clone?options=-c%20timezone=Asia/Ho_Chi_Minh
    username: username
    password: password
  jpa:
    hibernate:
      jdbc:
        time_zone: Asia/Ho_Chi_Minh
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    time-zone: Asia/Ho_Chi_Minh

  flyway:
    enabled: false


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/whatsapp-clone
  servlet:
    multipart:
      max-file-size: 50MB

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: whatsapp-clone-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

springdoc:
  default-produces-media-type: application/json

application:
  file:
    uploads:
      media-output-path: ./uploads